<?xml version="1.0"?>
<launch>
    <!-- config file path -->
    <arg name="human_dist_calculator_settings" default="$(find human_dist_calculator)/config/param/human_dist_calculator.yaml"/>

    <!-- node launch -->
    <node pkg="human_dist_calculator" type="human_dist_calculator_node" name="human_dist_calculator" output="screen">
        <rosparam command="load" file="$(arg human_dist_calculator_settings)"/>
    </node>
    <node pkg="rosbag" type="play" name="play" args="$(env HOME)/bag/st.bag --clock"/>
</launch>