<?xml version="1.0"?>
<launch>
    <!-- 卒論用 -->
    <!-- exe_time_publisher + human_dist_calculator -->

    <!-- config file path -->
    <arg name="exe_time_publisher_settings" default="$(find exe_time_publisher)/config/param/exe_time_publisher.yaml"/>
    <arg name="human_dist_calculator_settings" default="$(find human_dist_calculator)/config/param/human_dist_calculator.yaml"/>

    <!-- node launch -->
    <node pkg="exe_time_publisher" type="exe_time_publisher_node" name="exe_time_publisher" output="screen">
        <rosparam command="load" file="$(arg exe_time_publisher_settings)"/>
    </node>
    <node pkg="human_dist_calculator" type="human_dist_calculator_node" name="human_dist_calculator" output="screen">
        <rosparam command="load" file="$(arg human_dist_calculator_settings)"/>
    </node>
    <node pkg="rosbag" type="play" name="play" args="$(env HOME)/bag/nosteer25/10.bag --clock"/>
</launch>